body {
    font-family: Arial, sans-serif;
    background-color:#fdfdfd;
    margin: 0;
    padding: 20px;
    text-align:left
}

.resume_container {
    max-width: 600px;
    margin: 0 auto 20px auto;
    background:rgb(245, 245, 245);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(31, 32, 28);
}

h3 {
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 15px #659bff;
    margin-top: 5%;   
    margin-bottom: 5%;
}

.skills {
    display: none; /* Initial state */
}



#profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    overflow: hidden; 
}
    
#profile img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}